.filterContainer {
  width: 280px;
}

.resultContainer {
  margin-top: 1rem;
}

.resultContainer dt {
	display: inline-block;
	float: left;
	clear: left;
	width: 10rem;
}

.resultContainer dd {
	display: block;
	margin-left: 11rem;
}

.agrDownloadBtn {
	float: right;
}
