.container {
	float: right;
	width: 100%;
	margin-top: 0.15rem;
	max-width: 30rem;
}

.container form {
	float: right;
}

.dropdown {
	border-radius: 0.25rem 0 0 0.25rem;
	padding: 0.35rem 0.5rem;
}

.typeahead {
	display: inline-block;
	position: relative;
	top: 1px;
}

.typeahead input {
	border: none;
	padding: 0.29rem;
	width: 20rem;
}

.searchBtn {
	display: inline-block;
	border-radius: 0 0.25rem 0.25rem 0;
	padding: 0.35rem 0.5rem;
}

.typeahead input:focus {
	outline: none;
}
