.container {
	margin-top: 0.23rem;
	position: relative;
	float: right;
	width: 100%;
	max-width: 30rem;
}

.typeahead {
	display: inline-block;
	font-size: 16px;
	margin: 0;
	width: 100%;
}

.typeahead input {
	border: none;
	border-radius: 0.25rem;
	padding: 0.25rem 0.25rem 0.25rem 2rem;
	width: 100%;
}

.typeahead input:focus {
	outline: none;
}

.searchIcon {
	position: absolute;
	top: 0.25rem;
	left: 0.5rem;
}
